@charset "utf-8";
/* CSS Document */
body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 2.5rem;
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'monospace;
  /*font-family: Arial;*/
}
body {
  margin-bottom: 200px;
}

a {
  text-decoration: none;
  color: #c602e7;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

img {
  max-width: 100%;
  display: block;
  
}

.header {
  background: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

p {
    text-align: center;
    margin-top: 25px;

}

li {
    text-align: center;
    font-size: 4.0rem;
    
}
#main-menu {
  display: block;
  height: 80px;
  width: 100%;
  background: #31003E;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #b602d3;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
	}}