<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>run DnD</title>
		<link href="../static/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<header class="header" />
		<a>run DnD</a>
		<img src="../static/img/rundnd_logo.png" alt="run_dnd_logo" align="right" width="200" height="200" />
		<nav id="main-menu">
  				<ul>
    			<li><a href="http://127.0.0.1:5000/home">Home</a></li>
    			<li><a href="#">Community</a></li>
    			<li><a href="#">Forums</a></li>
    			<li><a href="http://127.0.0.1:5000/games">Games</a></li>
  			</ul>  
		</nav>
		</header>
		{% block conteudo %}{% endblock conteudo %}
	</body>
</html>